<div class="page-container">
  <div class="grid-row" style="text-align: center; margin-top: 5rem;">
    <p>
      You are now signed out
    </p>

    <p>
      <b><a href="/">Return home</a></b>
    </p>
  </div>
</div>
