<header>
  <div class="main-footer">
    <div class="grid-row">
      <nav>
        <ul class="">
          <li>
            <a href="https://github.com/steveshaddick/giftlist/issues" target="_blank" rel="noopener noreferrer">Suggest improvement</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
