<header>
  <div class="main-header">
    <ul class="">
      <li><a href="/" class="home-link"><h1>Gift Lists</h1></a></li>
      <li><%= link_to "Sign up", new_registration_path('user') %></li>
    </ul>
  </div>
</header>
